{% for article in articles %}
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ article.title|default:"нет названия" }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
            <p class="card-text">{{ article.content }}</p>
            <a href="{% url "article_view" article.pk %}" class="card-link">Детальный просмотр</a>
            <a href="{% url "article_update_view" article.pk %}" class="card-link">Редактирование</a>
            <a href="{% url "article_delete_view" article.pk %}" class="card-link">Удаление</a>
        </div>
    </div>
{% endfor %}