{% extends "base.html" %}
{% load repeat_tag %}

{% block link %}
    <li class="nav-item">
        <a href="{% url "article_update_view" article.pk %}" class="nav-link">Редактирование</a>
    </li>
    <li class="nav-item">
        <a href="{% url "article_delete_view" article.pk %}" class="nav-link">Удаление</a>
    </li>
{% endblock %}

{% block content %}
    <div class="card-body">
        <h5 class="card-title">{{ article.title|upper }}</h5>
        <p>{{ article.get_status_display }}</p>

        {{ "*"|repeat:100 }}
        {{ "_"|repeat:21 }}
        {{ "="|repeat:33 }}

        <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
        <p class="card-text">{{ article.content }}</p>
        <p class="card-text">дата изменения: {{ article.updated_at }}</p>
        <a href="{% url "category_articles_view" article.category.title_slug %}">{{ article.category.title }}</a>
    </div>
{% endblock %}
